mat-toolbar {
  background-color: #4d28c9;
  display: flex;
  justify-content: space-between;
}

img {
  background-color: white;
  width: 50px;
  border-radius: 30%;
}

button {
  align-items: flex-end;
}
