<app-navbar></app-navbar>
<div class="container">
  <div class="images">
    <!-- images will be received from api-->
    <img *ngFor="let user of users[0]" src="{{ user.avatar }}" />
  </div>
  <p *ngIf="somethingWentWrong">{{ err }}</p>
</div>
