.container {
  width: 100%;
  align-items: center;
  text-align: -webkit-center;
}
.images {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
  align-items: space-between;
  width: 80%;
}

img {
  list-style: none;
  flex: 0 0 30.333333%;
  width: 300px;
  margin: 10px;
}
