<div>
  <div class="login-container">
    <div>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="logo-container">
          <img src="../../../assets/113068.svg" />
        </div>
        <br />
        <h2>LOG IN</h2>
        <br />

        <mat-form-field class="example-full-width" style="width: 100%;">
          <span matPrefix>
            <span class="material-icons">
              accessibility
            </span>
          </span>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" style="width: 100%;">
          <span matPrefix class="material-icons">
            lock
          </span>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-error [style.visibility]="invalidForm ? 'visible' : 'hidden'">
          Email and Password are <strong>required</strong>
        </mat-error>
        <mat-checkbox style="align-self: flex-start;"
          >Remember me!</mat-checkbox
        >
        <br />
        <button mat-raised-button type="submit">Login</button>
        <br />
        <br />
        <a routerLink="#">Forgot Password?</a>
      </form>
    </div>
  </div>
</div>
